---
sitemap: false
---
/*
   DXC fonts
   ========================================================================== */

   @font-face {
      font-family: 'GT-Walsheim-Pro-Regular';
      font-style: normal;
      font-weight: normal;
      src: local('GT-Walsheim-Pro-Regular'), url(https://www.dxc.technology/fonts/GT-Walsheim-Pro-Regular.woff) format('woff'), url(https://www.dxc.technology/fonts/GT-Walsheim-Pro-Regular.ttf) format('truetype');
    }

    @font-face {
      font-family: 'GT-Walsheim-Pro-Bold';
      font-style: normal;
      font-weight: bold;
      src: local('GT-Walsheim-Pro-Bold'), url(https://www.dxc.technology/fonts/GT-Walsheim-Pro-Bold.woff) format('woff'), url(https://www.dxc.technology/fonts/GT-Walsheim-Pro-Bold.ttf) format('truetype');
    }