---
layout: default
---

<div id="main" role="main">
	<div class="wrap">
		<div class="page-title">
			<h1>Articles by tag: {{ page.tag }}</h1>
			{% if page.excerpt %}<h2>{{ page.excerpt }}</h2>{% endif %}
		</div>
		<!-- Tag buttons -->
		<a href="{{ site.url }}/katacodas" class="btn">All</a>
		<a href="{{ site.url }}/katacodas/tag/whitebelt" class="btn">DevOps Dojo White Belt</a>
		<a href="{{ site.url }}/katacodas/tag/yellowbelt" class="btn">DevOps Dojo Yellow Belt</a>
		<a href="{{ site.url }}/katacodas/tag/pe-whitebelt" class="btn">Product Engineering Dojo White Belt</a>
		<a href="{{ site.url }}/katacodas/tag/3rdparty" class="btn">3rd Party</a>

		<div class="tiles">
			<!-- User 'order' attribute to sort posts -->
			<!-- All posts with an order -->
			{% assign postArray = "" | split:"|"  %}
			{% for item in site.categories.katacoda %}
				{% if item.order %}
					{% if item.tags contains page.tag %}
						{% if item.tags contains 'test' %}
						{% else %}
							{% assign postArray = postArray | push: item %}
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
			{% assign postArray = postArray | sort: 'order'  %}

			<!-- Then all others -->
			{% assign postArrayNoOrder = "" | split:"|"  %}
			{% for item in site.categories.katacoda %}
				{% unless item.order %}
					{% if item.tags contains page.tag %}
						{% assign postArrayNoOrder = postArrayNoOrder | push: item %}
					{% endif %}
				{% endunless %}
			{% endfor %}

			{% for post in postArray %}
				{% include post-grid.html %}
			{% endfor %}
			{% for post in postArrayNoOrder %}
				{% include post-grid.html %}
			{% endfor %}
		</div><!-- /.tiles -->
	</div><!-- /.wrap -->
</div><!-- /#main -->

